@charset "utf-8";
@media print {
@page {
	margin: 0.5in;
}
body {
	font: 12pt Times, "Times New Roman", "serif";
	line-height: 1.3;
}
.header img,
.nav,
.button {
	display: none;
}
.section {
	padding: 0;
}
.action {
	margin: 0;
}
.projects img {
	float: left;
	width: 35%;
	margin-right: 5%;
}
.projects div {
	margin-bottom: 1em;
}
}

